COMPOSE_PROJECT_NAME=tyyw
TZ=Asia/Shanghai

# FastAPI服务器配置
HOST=0.0.0.0
PORT=10000
TEST_MODE=false
LOG_LEVEL=DEBUG

# OpenAI API配置
OPENAI_API_KEY_1=sk-NO0AFfqpj-jlqpDx94RiiA
OPENAI_API_BASE_1=http://19.119.245.78/ebus/msmp

# 模型配置
FLASH_MODEL=Qwen3-30B-A3B-Instruct-2507
FLASH_MODEL_KEY=isg-tyyw-bbbd2866f4ba4d13bf890645d4421eba

POLISH_MODEL=Qwen3-32B
POLISH_MODEL_KEY=isg-tyyw-d27e15e9af0944fea36b66af17a656de

GENERATE_MODEL=Qwen3.5-397B-A17B
GENERATE_MODEL_KEY=isg-tyyw-e35f2f75cb0d4c88af1d01f3838e3ad8

EMBEDDING_MODEL=Qwen3-Embedding-4B
EMBEDDING_MODEL_KEY=isg-tyyw-267576fec3fb491390b4539f762a3897

# Milvus
MILVUS_HOST=localhost
MILVUS_PORT=19530


# MySQL
MYSQL_IMAGE=mysql:8.0.39
MYSQL_ROOT_PASSWORD=Cmcc@123
MYSQL_USER=tyyw
MYSQL_PASSWORD=Cmcc@123
MYSQL_DATABASE=tyyw
